.grid-container {
  width: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px 8px;
  grid-template-areas:
    "drone drone pasta"
    "chess guitar pasta"
    "rl beer beer";
}

.drone {
  grid-area: drone;
}

.pasta {
  grid-area: pasta;
}

.beer {
  grid-area: beer;
}

.rl {
  grid-area: rl;
}

.chess {
  grid-area: chess;
}

.guitar {
  grid-area: guitar;
}
